[Unit]
Description=TLS SNI proxy
Documentation=https://github.com/google/tlsrouter

[Service]
WorkingDirectory=/tmp
ExecStart=/usr/bin/tlsrouter -conf /etc/tlsrouter.conf
Restart=always

[Install]
WantedBy=multi-user.target
